<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zc.base" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <meta-data
        android:name="com.zc.base.glideutil.UnsafeOkHttpGlideModule"
        android:value="GlideModule" />

</manifest>

